.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.Label{
    font-weight: bold;
    display: block;
}
.InputElement{
    padding: 6px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    display: block;
}
.InputElement:focus{
    background-color: #ccc;
    outline: none;
}
.correct{
    border: 1px solid lightgreen;
}
.correct:focus{
    background-color: lightgreen;
}
.wrong{
    border:1px solid red;
}
.wrong:focus{
    background-color: salmon;
}